
.rectangle_topbar {
    height: 13vh;
    width: 99.99vw;
    /*background-color: #4d4d4d;*/
    background:url('../images/dark_stone.png') repeat center;
    box-shadow: 25vh 1vh 1vh rgb(98, 125, 163);
  }
